<article class="panel" id="home-panel">

    {% include 'components/panels/panelDecoration.html.twig' %}
    {% include 'components/panels/panelTitle.html.twig' %}
    
    <div class="content">

        <div class="cards-mosaic">
            <div class="card grow auto">
                <div class="card-head">
                    <div class="card-title">Description</div>
                </div>
                <div class="card-body">
                    {{ profile.description }}
                </div>
            </div>
            <div class="card bigger">
                <div class="card-head colored-success">
                    <div class="card-title">Disponible <i class="material-icons">insert_invitation</i></div>
                </div>
                <div class="card-body">
                    <p>
                        Disponible pour mission freelance uniquement
                        <br>
                        <br>
                        <b>Tarif : 450€ / jour</b>
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="section-title">Technologies</div>
        <div class="section-subtitle">les outils qui j'utilise au quotidien</div>
        <div class="cards-mosaic">
            {% for tool in tools %}
                <div class="card">
                    <div class="card-head top limit-padding">
                        <div class="card-title">{{ tool.name }}</div>
                        <div class="card-decoration top">
                            <img src="images/card-decoration/demo.svg">
                        </div>
                    </div>
                    <div class="card-body full-height">
                        <div class="card-logo"><img src="{{ tool.picture }}"></div>
                        <div class="card-subtitle">{{ tool.family }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</article>