<article class="panel" id="realisations-panel">

    {% include 'components/panels/panelDecoration.html.twig' %}
    {% include 'components/panels/panelTitle.html.twig' %}
    
    <div class="content">

        <div class="section-title">Productions Graphique</div>
        <div class="section-subtitle">Du fond d'écran au logo en passant par des éléments de décorations de site web</div>
        <div class="images-mosaic">
            {% for graphic in graphics %}
            <div class="image">
                <div class="image-cover"><i class="material-icons">zoom_in</i></div>
                <img src="images/realisations/graphics/{{ graphic.path }}">
            </div>
            {% endfor %}
        </div>
        <div class="section-title">Développement Web</div>
        <div class="section-subtitle">Programmes & Sites Web</div>

        <div class="realisations-list">
            <div class="realisation">
                <div class="realisationShowcase">
                    <div class="macbook">
                        <div class="showcase" style="background-image: url('images/realisations/graphics/urbanTrip--green.jpg')"></div>
                        <img src="images/realisations/responsiveShowcase/macbook.png">
                    </div>
                    <div class="iphone">
                        <div class="showcase" style="background-image: url('images/realisations/graphics/brouk.jpg')"></div>
                        <img src="images/realisations/responsiveShowcase/iphone.png">
                    </div>
                </div>
                <div class="realisationInfo">
                    <div class="realisationTitle">Un titre</div>
                    <div class="realisationDescription">Du fond d'écran au logo en passant par des éléments de dDu fond d'écran au logo en passant par des éléments de dDu fond d'écran au logo en passant par des éléments de dDu fond d'écran au logo en passant par des éléments de dDu fond d'écran au logo en passant par des éléments de dDu fond d'écran au logo en passant par des éléments de dDu fond d'écran au logo en passant par des éléments de dDu fond d'écran au logo en passant par des éléments de dDu fond d'écran au logo en passant par des éléments de dDu fond d'écran au logo en passant par des éléments de dDu fond d'écran au logo en passant par des éléments de dDu fond d'écran au logo en passant par des éléments de d</div>
                </div>
            </div>
        </div>
    </div>
</article>