// Z-INDEX
.index-alert { z-index: $lvl-alert; }

// TEXT COLOR
.home-text { color: $home !important; }
.home-light-text { color: $home-light !important; }
.bleu-text { color: $bleu !important; }
.vert-text { color: $vert !important; }
.orange-text { color: $orange !important; }
.rouge-text { color: $rouge !important; }
.violet-text { color: $violet !important; }
.gris-text { color: $gris !important; }
.white-text { color: #fff !important; }
.black-text { color: #000 !important; }

// text hover
.home-text-hover:hover { color: $home !important; }
.bleu-text-hover:hover { color: $bleu !important; }
.vert-text-hover:hover { color: $vert !important; }
.orange-text-hover:hover { color: $orange !important; }
.rouge-text-hover:hover { color: $rouge !important; }
.violet-text-hover:hover { color: $violet !important; }
.gris-text-hover:hover { color: $gris !important; }
.white-text-hover:hover { color: #fff !important; }
.black-text-hover:hover { color: #000 !important; }

// BACKGROUND COLOR
.home-background { background: $home !important; }
.dark-home-background { background: darken($home, 10%) !important; }
.bleu-background { background: $bleu !important; }
.dark-bleu-background { background: darken($bleu, 10%) !important; }
.vert-background { background: $vert !important; }
.dark-vert-background { background: darken($vert, 10%) !important; }
.orange-background { background: $orange !important; }
.dark-orange-background { background: darken($orange, 10%) !important; }
.rouge-background { background: $rouge !important; }
.dark-rouge-background { background: darken($rouge, 10%) !important; }
.violet-background { background: $violet !important; }
.dark-violet-background { background: darken($violet, 10%) !important; }
.gris-background { background: $gris !important; }
.dark-gris-background { background: darken($gris, 10%) !important; }

// HIDDEN
.hidden { visibility: hidden !important; }
.desktop-hidden { display: none !important; }
.mobile-hidden { display: block; }

// font
.font-mono { font-family: $fontMono; }
.font-serif { font-family: $fontContent; }

// text
.text-center { text-align: center !important; }

// HIDDEN -- RESPONSIVE
@media screen and (max-width: 1250px) {
    .medium-hidden { display: none !important; }
    .desktop-hidden { display: flex !important; }
}

@media screen and (max-width: 758px) {
    .mobile-hidden { display: none !important; }
}