.home-text {
    color: $home !important;
}

.bleu-text {
    color: $bleu !important;
}

.vert-text {
    color: $vert !important;
}

.orange-text {
    color: $orange !important;
}

.rouge-text {
    color: $rouge !important;
}

.violet-text {
    color: $violet !important;
}

.gris-text {
    color: $gris !important;
}