//
// ─── Fonts ───────────────────────────────────────────────────────────────────────
//
// IBM PLEX
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300|IBM+Plex+Serif|IBM+Plex+Sans:200,400');
$fontTitle:     'IBM Plex Sans', sans-serif;
$fontSubtitle:  'IBM Plex Sans', sans-serif;
$fontContent:   'IBM Plex Serif', serif;
$fontButton:    'IBM Plex Sans', sans-serif;
$fontNavs:      'IBM Plex Sans', sans-serif;
$fontTextLink:  'IBM Plex Sans', sans-serif;

$fontMono: 'IBM Plex Mono', monospace;