
@font-face {
    font-family: "roboto";
    src: url("/public/assets/font/Roboto/Roboto-Regular.ttf");
  }
  
  @font-face {
    font-family: "roboto-light";
    src: url("/public/assets/font/Roboto/Roboto-Light.ttf");
  }