//
// ─── Variables ───────────────────────────────────────────────────────────────────────
//
//
// ───────────────────────────────────────────────────────────────────── Structur ──────
//
// body
$body-background_color: #ebebeb;

// page structure
$page-top: 0px;
$page-width: calc(100% - 15em);

//
// ───────────────────────────────────────────────────────────────────── Z-index ───────
//
// Rapide
$lvl-min: -10;
$lvl-max: 500;
$lvl-alert: 1000;

// Précis
$lvl-1: 10;
$lvl-2: 20;
$lvl-3: 30;
$lvl-4: 40;
$lvl-5: 50;
$lvl-6: 60;
$lvl-7: 70;
$lvl-8: 80;
$lvl-9: 90;
$lvl-9: 90;
$lvl-10: 100;

//
// ───────────────────────────────────────────────────────────────────── Scrollbar -────
//
// size & position
$scrollbar-width: 0.5em;

// color
$scrollbar-background_color: #636c74;
$scrollbar_thumb-background_color: #8a98a3;
$scrollbar_thumb-hover-background_color: #aebdc9;
$scrollbar_thumb-active-background_color: #99b9d3;

//
// ───────────────────────────────────────────────────────────────────── Pop-Up -────
//
// size & position
$popUp-top: 5em;

// color
$popUp-color: #b5c8ca;
$popUp-background_color: #555d5e;