{% extends 'base.html.twig' %}

{% block navs %}
  {% include 'components/navs/horizontalNav.html.twig' %}
  {% include 'components/navs/verticalNav.html.twig' %}
{% endblock %}

{% block body %}
  <article class="webContent" id="welcome-panel">
    <div class="card title-card" id="presentation">
      <h1 class="card-title">Bienvenue Sur le site officiel de {{ profile.firstname }}{{ profile.lastname }}</h1>
      <h2 class="card-subtitle">{{ profile.title }}</h2>
    </div>
    <div class="card title-card">
      <span class="card-descr"><b>Disponible immédiatement :</b> mission freelance<br><br><b>Recherche pour Septembre :</b> CDD ou CDI</span>
    </div>
    <div class="card title-card">
      <span class="card-title">Technologies</span>
      <span class="card-subtitle">les outils qui j'utilise au quotidien</span>
      <div class="separator"></div>
      <div class="card-imgs-container">
        
      </div>
    </div>
  </article>

  <article class="webContent" id="favoris-panel">
    <div class="card title-card" id="favori-title">
      <span class="card-title">Mes coups de coeur du moment</span>    
      <span class="card-subtitle">Les technologies qui ont su toucher mon coeur</span>
    </div>
    
    <div class="card title-card">
      <span class="card-title">Front-end</span>
      <span class="card-subtitle">Pour transformer la visite de l'internaute</span>
      <div class="card-imgs-container">
      
      </div>
    </div>
    <div class="card title-card">
      <span class="card-title">Back-end</span>
      <span class="card-subtitle">Les coulisses du succès</span>
      <div class="card-imgs-container">
        
      </div>
    </div>
  </article>
{% endblock %}