{% extends 'base.html.twig' %}

{% block title %}Skills{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>Id</tr>
        <tr>Name</tr>
        <tr>Level</tr>
        <tr>Picture</tr>
    </thead>
    <tbody>
        {% for skill in skills %}
            <tr>
                <td>{{ skill.id }}</td>
                <td>{{ skill.name }}</td>
                <td>{{ skill.level }}</td>
                <td>{{ skill.picture }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
