/*
               ______________________________
              |==============================|
              |           COMPONENT          |
              |==============================|
              |$                            $|
              |$         ALERT-CARD         $|
              |$                            $|
              |==============================|
              |          FILES-INFO          |
              |==============================|
              |    author : Julien Lachaux   |
              |      date : 22-05-2017       |
              |      type : CSS              |
              |==============================|
              |           CONTACT            |
              |==============================|
              |   lachauxWebDev@gmail.com    |
              |______________________________|
*/

.alert-card {
  background: rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 0.3em;
  padding: 2em;
  min-width: 20em;
  max-width: 50em;
  margin: 0 auto 2em auto;
  top: 15vh;
  position: relative;
  text-align: left;
}

.alert-card .card-logo {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  margin: 0 1em 1em 0;
  overflow: hidden;
  position: relative;
  left: 1em;
  display: inline-block;
}

.alert-card .card-logo img {
  width: 8em;
  height: 8em;
}

.alert-card .card-title {
  font-size: 1.15em;
  color: #ffffff;
  font-weight: 700;
  display: inline-block;
  position: absolute;
  top: 3.5em;
  left: 10em;
}

/*
       __________________________
      |                          |
      |         version          |
      |        responsive        |
      |__________________________| 
*/
@media screen and (max-width: 1024px) {
  .alert-card {
    width: 100% !important;
    padding: 0;
    top: 5vh;
    padding: 1em 0 !important;
  }
  
  .alert-card .card-logo {
    display: block;
    margin: 1em auto;
    left: auto;
  }
  
  .alert-card .card-title {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    width: calc(100% - 1em);
    text-align: center;
    padding: 1em;
  }
}

@media screen and (max-width: 425px) {
}