/*
               ______________________________
              |==============================|
              |           COMPONENT          |
              |==============================|
              |$                            $|
              |$       HORIZONTALE NAV      $|
              |$                            $|
              |==============================|
              |          FILES-INFO          |
              |==============================|
              |    author : Julien Lachaux   |
              |      date : 22-05-2017       |
              |      type : CSS              |
              |==============================|
              |           CONTACT            |
              |==============================|
              |   lachauxWebDev@gmail.com    |
              |______________________________|

                 __________________________
                |                          |
                |         SOMMAIRE         |
                |__________________________| 
                |                          | 
                |   1 - horizontale nav    |
                |   2 - responsive         |
                |                          |
                |__________________________|
*/

/*
       __________________________
      |                          |
      |     horizontale nav      |
      |__________________________| 
*/
.mainBar {
    width: 100%;
    height: 3em;
    position: fixed;
    z-index: 1001;
    background: #2a3646;
    color: #fff;
    display: flex;
    flex-flow: row nowrap
}

.mainNav {
    right: 0;
    position: absolute
}

.mainNav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap
}

.mainNav-link {
    height: 3em;
    padding: 0;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    transition: all .5s ease-in-out;
}

.mainNav-link:hover, .current {
    background: rgba(107, 163, 204, 0.21);
}

.mainNav-link a {
    display: block;
    font-family: roboto;
    text-decoration: none;
    color: #fefefe;
    width: 100%;
    line-height: 3em;
    padding: 0 2em;
    transition: all .5s ease-in-out
}

.mainNav-link:hover a,
.mainNav-link:hover i {
    color: #fff;
}

.mainNav-back {
  position: absolute;
  right: 0;
  line-height: 3em;
  padding: 0 1em;
  color: #fff;
  font-family: roboto;
  text-decoration: none;
}

.mainNav-back:hover {
  background: rgba(107, 163, 204, 0.21);
}

.current a,
.current i {
    color: #fff;
}

.user-descr {
    position: relative;
    margin: 0 15px;
    width: 16em;
}

.user-descr .previous {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 3em;
    width: 3em;
    left: -1em;
    overflow: hidden;
    transform: rotate(180deg);
    text-decoration: none;
}

.user-descr .previous:hover {
    background: rgba(181, 200, 202, .15);
}
.user-descr .previous:hover i {
    color: #b5c8ca;
}

.user-descr .previous i {
    color: #fff;
    transform: translateY(-0.5em) scale(1.25);
}

.user-descr .user-name {
    position: absolute;
    top: .25em;
    left: 2.8em;
    margin: 0;
    font-size: 1.2em;
}

.user-descr .user-work {
    position: absolute;
    top: 2em;
    left: 4.2em;
    margin: 0;
    font-size: 0.8em;
    font-family: 'roboto-light';
    color: #b5c8ca;
}

.user-descr .user-logo {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 2.5em;
    width: 2.5em;
    top: 0.25em;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.user-descr .user-logo img {
    height: 2em;
    transition: all .5s ease-in-out;
}

.user-descr .user-logo img:hover {
    transform: rotate(360deg);
}

.user-descr .user-logo-container {
    height: 3em;
    margin: 1em 0 0 0
}

/*
       __________________________
      |                          |
      |         version          |
      |        responsive        |
      |__________________________| 
*/
@media screen and (max-width:1024px) {
  .user-name,
  .user-work {
    margin-left: 0!important
  }
  .mainNavIn {
    position: absolute;
    right: 0;
    z-index: 1;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 3em;
    height: 3em
  }
  .mainNavIn:hover {
    background: rgba(181, 200, 202, .15)
  }
  .mainNavIn i {
    font-size: 2em
  }
  .mainBar {
    width: 100%;
  }
  .mainNav {
    z-index: 10;
    top: -100vh;
    position: fixed;
    height: 100%;
    width: 100%;
    right: auto;
    left: 0;
    background: #4f5c6a;
    transition: all 250ms ease-in-out
  }
  .mainNav-links {
    flex-flow: column nowrap;
    width: 100%;
  }
  .mainNav-link {
    width: 100%;
    height: 3em;
  }
  .visible-top {
    top: 0;
  }
  .mainNavOut i {
    font-size: 2em
  }
}
