/*
               ______________________________
              |==============================|
              |             PAGE             |
              |==============================|
              |$                            $|
              |$             CV             $|
              |$                            $|
              |==============================|
              |          FILES-INFO          |
              |==============================|
              |    author : Julien Lachaux   |
              |      date : 22-05-2017       |
              |      type : CSS              |
              |==============================|
              |           CONTACT            |
              |==============================|
              |   lachauxWebDev@gmail.com    |
              |______________________________|
*/

/*
       __________________________
      |                          |
      |         PAGES            |
      |        profile           |
      |__________________________| 
*/
#profile-panel {
  background-image: url('/public/assets//img/cv/backgrounds/pattern_profile.jpeg');
}
    
/*
       __________________________
      |                          |
      |         PAGES            |
      |        skills            |
      |__________________________| 
*/
#skills-panel { background-image: url('/public/assets//img/cv/backgrounds/pattern_skills.jpeg'); }

/*
       __________________________
      |                          |
      |         PAGES            |
      |        experiences       |
      |__________________________| 
*/
#experiences-panel { background-image: url('/public/assets//img/cv/backgrounds/pattern_xp.jpeg'); }

/*