// #animation-panel { background-image: url('/public/assets/img/construct/orange.png'); }
// 
// #customNavbar-panel { background-image: url('/public/assets/img/construct/orange.png'); }
// 
// #dragNdrop-panel { background-image: url('/public/assets/img/construct/orange.png'); }
// 
// #css-panel { background-image: url('/public/assets/img/construct/orange.png'); }