.webContent {
    overflow: hidden !important;
    padding: 0 !important;
    height: 100% !important;
}

iframe {
    width: 100%;
    height: 100%;
}

#a2p-panel {
  background-image: url('/public/assets/img/construct/orange.png');
}

#myWar-panel {
  background-image: url('/public/assets/img/construct/orange.png');
}

/*
       __________________________
      |                          |
      |         version          |
      |        responsive        |
      |__________________________| 
*/
@media screen and (max-width: 1024px) {

  .webContent {
    overflow: hidden !important;
    padding: 0 !important;
  }
}