<div class="errorContainer">
    <div class="errorMessage PartOne font-mono">Erreur :</div>
    <div class="errorDecoration">{{ decoration|raw }}</div>
    <div class="errorMessage PartTwo font-mono">Page Introuvable</div>
</div>