<!-- Sidebar -->
<nav id="sidebar" class="bg-dark">
    <div class="sidebar-header">
        <h3>Admin Panel</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Back-office</p>
        <li>
            <a href="/admin">Dashboard</a>
        </li>
        <li class="active">
            <a href="#ContentSubMenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Content</a>
            <ul class="collapse list-unstyled" id="ContentSubMenu">
                <li class="active">
                    <a href="/admin/skills">Skills</a>
                </li>
                <li>
                    <a href="/admin/tools">Tools</a>
                </li>
                <li>
                    <a href="/admin/favoris">Favoris</a>
                </li>
                <li>
                    <a href="/admin/experiences">Experiences</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/admin/templates">Templates</a>
        </li>
        <li>
            <a href="/admin/contact">Contact</a>
        </li>
    </ul>
</nav>