// card default
.card {
    display: block;
    position: relative;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 0.3em;
    margin: 1em;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;

    &.colored {
        background: $color-primary;
        color: #fff;
    }

    &.colored-success {
        background: $color-success;
        color: #fff;
    }

    .card-head {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        padding: 1em;

        &.colored {
            background: $color-primary;
            color: #fff;
        }

        &.colored-success {
            background: $color-success;
            color: #fff;
        }

        &.limit-padding-top {
            padding: 0.5em 1em 1em 1em;
        }

        &.limit-padding {
            padding: 0.5em;
        }

        .card-liseret {
            width: calc(100% + 2em);
            height: 1em;
            position: relative;
            top: -.5em;
            left: -1em;
        }

        .card-title {
            font-size: 1.5em;
            text-align: left;

            i {
                position: absolute;
                right: 0.5em;
            }
        }

        .card-subtitle {
            text-align: left;
            color: rgba(0, 0, 0, 0.68);
        }

        .card-decoration {
            position: absolute;
            width: auto;
            height: 100%;
            bottom: 0;
            right: 0;

            img {
                height: 100%;
                width: auto;
            }
        }
    }

    .card-body {
        position: relative;
        top: 0;
        left: 0;
        height: 80%;

        .card-imgs-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            a {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                height: 10em;
                width: 10em;
                text-decoration: none;
                z-index: $lvl-5;

                span {
                    color: #000;
                }

                &:hover {
                    span {
                        color: $color-primary;
                        text-decoration: underline;
                    }

                    i {
                        color: $color-primary;
                    }
                }
            }

            .card-decoration {
                position: absolute;
                width: auto;
                height: 10em;
                top: -9em;
                right: -2em;
                z-index: $lvl-1;

                img {
                    height: 100%;
                    width: auto;
                    transform: rotate(90deg);
                }
            }
        }

        &.full-height {
            height: calc(100% - 4.5em) !important;
        }
    }
}

//
// ───────────────────────────────────────────────────────────────────── Responsive ─────
//
@media screen and (max-width: 758px) {

    .card {
        
        .card-decoration {
            height: 8em !important;
        }
    }
}