.headerPage-decoration {
    z-index: $lvl-8;
    position: absolute;
    right: $scrollbar-width;
    top: 10px;
    height: 17em;
    overflow: visible;

    svg {
        z-index: $lvl-10;
        width: auto;
        height: 100%;
    }
}

.decorationPage-decoration {
    z-index: $lvl-7;
    position: absolute;
    top: 8em;
    left: 0;
    
    
    overflow-x: hidden;
    overflow-y: hidden;

    img {
        width: auto;
        height: 5em;
    }
}

.barTop-decoration {
    z-index: $lvl-7;
    position: absolute;
    width: calc(100% - #{$scrollbar-width});
    height: 10px;
}

.barRight-decoration {
    z-index: $lvl-7;
    position: absolute;
    width: 10px;
    height: 5em;
    opacity: .80;
    right: $scrollbar-width;
}