body {
    padding: 0px;
    margin: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    
    
    overflow-x: hidden;
    overflow-y: hidden;
    background: $color-background;
  }
  
  .mainFlux {
    width: 100%;
    height: 100%;
    position: absolute;
    
    
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .webFlux {
    height: calc(100% - #{$page-top});
    width: $page-width;
    position: relative;
    top: $page-top;
  }
  
  .webContent {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    background-color: $color-background;
    transform-origin: left;
    transform-style: flat;
    transition: all 0.5s ease-in-out;
    z-index: $lvl-5;
  }
  .singleFlux {
    position: absolute;
    top: $page-top;
    height: calc(100vh - #{$page-top});
    width: 100%;
  }

  @keyframes coverFluxIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.coverFlux {
    height: 100%;
    width: 100%;
    z-index: $lvl-alert;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #000000e8;
    opacity: 0;

    &.visible {
        animation: coverFluxIn ease-out 250ms forwards;

        &:hover {
            cursor: pointer;
        }
    }
}

.contactMe {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
    position: absolute;
    left: 0;

    .contactMe-text {
        font-family: $fontMono;
        margin: 0 1em;
    }

    .contactMe-decorationLeft {
        width: 5em;
    }
    
    .contactMe-decorationRight {
        width: 5em;
        transform: scaleX(-1);
    }

    &:hover {
        cursor: pointer;

        .contactMe-text {
            color: $color-primary
        }
    }
}

.separator {
    background: #000;
    height: 1px;
    width: 80%;
    margin: 1em auto;
}

//
// ───────────────────────────────────────────────────────────────────── Responsive ─────
//
@media screen and (max-width: 1250px) {
    
    .webFlux {
        width: 100%;
        height: 100%;
    }
}