.loaderContainer {
    display: flex;
    position: absolute;
    height: 100%;
    flex-flow: column nowrap;

    .loaderPart {
        height: 50%;
        background: $color-background;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        border-left: .1em solid $color-primary;
        border-right: .1em solid $color-primary;
        box-sizing: border-box;

        &.top {
            border-bottom: .1em solid $color-primary;
            justify-content: flex-end;
            top: -100%;
            transition: top 1s ease-in;
        }
        &.bottom {
            border-top: .1em solid $color-primary;
            justify-content: flex-start;
            bottom: -100%;
            transition: bottom 1s ease-in;
        }

        .loaderDecoration {
            position: relative;
            width: auto;
            height: 10em;

            &.top {
                transform: translateY(2em);
            }
            &.bottom {
                transform: translateY(-3.5em);
            }
        }
    }

    .loaderMessage {
        display: none;
        font-weight: bold;
        font-size: 1.2em;
    }

    .loaderBarContainer {
        display: none;
        position: relative;

        .decorationLoaderBar {
            width: 20em;
            height: auto;
        }
        .loaderBar {
            width: 15.5em;
            height: 2em;
            position: absolute;
            box-sizing: border-box;
            padding: .25em;
            top: 2em;
            left: 2.5em;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-content: center;

            .loaderBarItem {
                position: relative;
                height: 100%;
                width: 1em;
                margin-right: .25em;
                background: $color-primary-light;
            }
        }
    }


    &.loaderZindex { z-index: $lvl-loader; }
    &.pageLoader {
        width: 100%;
        .loaderBarContainer {
            display: block !important;
        }
    }
    &.panelLoader {
        width: $page-width;
        .loaderMessage {
            display: block;
        }
    }
    &.active {
        .loaderPart {
            &.top { top: 0; }
            &.bottom { bottom: 0; }
        }
    }

}

@media screen and (max-width: 1250px) {
    .loaderContainer.panelLoader {
        width: 100% !important;
    }
}