.panel {
    display: block;
    width: 100%;
    height: calc(100% - 15em);
    top: 15em;

    .panelTitle {
        width: calc(100% - #{$scrollbar-width});
        height: 15em;
        background: $color-background;
        display: flex;
        position: fixed;
        top: 0;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        z-index: $lvl-9;
    
        .title {
            width: 80%;
            font-size: 3em;
            text-align: left;
        }
        .subtitle {
            width: 80%;
            font-size: 1.5em;
            text-align: left;
            color: $color-primary;
        }
        .separator {
            width: 85%;
            height: 1px;
            background: $color-text;
            position: absolute;
            bottom: 0px;
            opacity: .20;
        }
    }

    .panel-nav {
        display: flex;
        flex-flow: row nowrap;
        position: absolute;
        top: 13em;
        left: 10%;
        width: 80%;
        color: black;
        z-index: $lvl-10;

        .filter {
            display: flex;
            flex-flow: row nowrap;
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 50%;

            li {
                margin-right: 1em;

                a {
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.68);

                    &:hover {
                        color: $color-primary;
                        font-weight: bold;
                    }

                    &.active {
                        color: $color-primary;
                        font-weight: bold;
                    }
                }
            }
        }

        .search {
            position: absolute;
            right: 0px;
            label {
                color:#999; 
                font-size:18px;
                font-weight:normal;
                position:absolute;
                pointer-events:none;
                left: 0;
                top: 0.25em;
                transition:0.2s ease all; 
                -moz-transition:0.2s ease all; 
                -webkit-transition:0.2s ease all;
            }
            input {
                border:none;
                background: none;
                
                &:focus ~ label, &:valid ~ label {
                    top: -0.75em;
                    color: $color-primary;
                }
                &:focus {
                    outline: none;
                }
            }

            i {
                position: relative;
                top: 0.25em;
                color: #999;
            }
        }
    }

    .content {
        display: block;
        height: 100%;
        padding-top: 17em;
        overflow-y: scroll;
        padding: 17em 10% 0 10%;

        &::-webkit-scrollbar {
            width: $scrollbar-width;
            background: $scrollbar-background_color;
        }
        &::-webkit-scrollbar-thumb {	
            background: $scrollbar_thumb-background_color;
        }
        &::-webkit-scrollbar-thumb:hover {	
            background: $scrollbar_thumb-hover-background_color;
        }
        &::-webkit-scrollbar-thumb:active {	
            background: $scrollbar_thumb-active-background_color;
        }
    }
}