/*
               ______________________________
              |==============================|
              |           COMPONENT          |
              |==============================|
              |$                            $|
              |$        VERTICALE NAV       $|
              |$                            $|
              |==============================|
              |          FILES-INFO          |
              |==============================|
              |    author : Julien Lachaux   |
              |      date : 22-05-2017       |
              |      type : CSS              |
              |==============================|
              |           CONTACT            |
              |==============================|
              |   lachauxWebDev@gmail.com    |
              |______________________________|

                 __________________________
                |                          |
                |         SOMMAIRE         |
                |__________________________| 
                |                          | 
                |   1 - verticale nav      |
                |   2 - flux               |
                |   3 - responsive         |
                |                          |
                |__________________________|
*/

/*
       __________________________
      |                          |
      |      vertical nav        |
      |__________________________| 
*/
.sideBar {
  width: 15em;
  height: 100%;
  right: 0em;
  position: fixed;
  z-index: 1000;
  color: $color-text;
  background: $color-background;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 1px;
    background: $color-background;
  }

  .separator {
    background: $color-text !important;
    opacity: .20;
    height: 1px;
    width: 60%;
    margin: 10px auto;
  }

  .sideNav {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;

    .sideNav-profile {
      .profilePicture-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 170px;
        margin-bottom: 1em;

        .profilePicture-circle {
          z-index: $lvl-2;
          border-radius: 100%;
          background: $color-primary-light;
          width: 120px;
          height: 120px;
          
          
          overflow-x: hidden;
          overflow-y: hidden;

          
          .profilePicture {
            height: auto;
            width: 120px;
            top: -100px;
          }
        }
        .profilePicture-decoration {
          z-index: $lvl-1;
          position: absolute;
          width: 170px;
          height: 170px;
          top: 1em;
          left: 2.5em;
        }
      }
      .profile-info {
        padding: 10px;
        .profile-name {
          text-align: center;
          color: $color-text;
        }
        .profile-job {
          text-align: center;
          margin-top: 5px;
          font-weight: 400;
          color: $color-primary-light;
          font-size: 0.8em;
        }
      }
    }

    .sideNav-Links {
      position: absolute;
      width: 100%;
      z-index: 1000;
      list-style: none;
      padding: 0;
      margin: 0;
      
      
      overflow-x: hidden;
      overflow-y: hidden;

      .sideNav-Link {
        width: 100%;
        height: 3em;
        cursor: pointer;
        position: relative;
        transition: all 2s ease-in-out;
        margin: 1em 0;
        display: block;
        text-align: right;

        i.link-logo {
          z-index: $lvl-3;
          top: .45em;
          font-size: 1.5em;
          position: absolute;
          color: #fff;
        }

        .nav-decoration {
          z-index: $lvl-2;
          width: auto;
          height: 100%;
          right: 200%;
          position: absolute;
        }

        .nav-decoration-active {
          z-index: $lvl-2;
          width: auto;
          height: 100%;
          position: absolute;
          left: -100%;
          transition: all 2s ease-in-out;
          opacity: 0;
        }

        .nav-decoration-active-background {
          z-index: $lvl-1;
          width: auto;
          height: 100%;
          position: absolute;
          left: -100%;
          transition: all 2s ease-in-out;
        }

        .link-txt {
          position: absolute;
          bottom: 0.2em;
          color: #313131;
        }

        &.iconActive {
  
          .nav-decoration-active {
            left: .5em;
          }

          .nav-decoration-active-background {
            left: .1em;
            bottom: -.15em;
          }
        }
      }
    }
  }
}


/*
       __________________________
      |                          |
      |        LE FLUX           |
      |__________________________| 
*/
/* webFlux anim */

.webContentTitle {
  display: inline-block;
  color: white;
  font-size: 1.5em;
  margin: 1em auto;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.27);
  padding: 0.5em;
  border-radius: 0.3em;
}

/*
       __________________________
      |                          |
      |         version          |
      |        responsive        |
      |__________________________| 
*/
@media screen and (max-width: 1250px) {
  .sideBar {
    width: 100%;
    height: 7em;
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
    box-shadow: 0px 0px 110px 70px rgba(245,245,246,1);
  }

  .nav-decoration-active {
    display: none;
  }
  .nav-decoration-active-background {
    bottom: -7em;
    right: 1em;
  }
  .sideNav {
    height: 4em !important;
  }
  
  .sideNav-Links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .sideNav-Link {
      width: 8em !important;

      &.iconActive {
        .nav-decoration-active-background {
          right: 1em !important;
          bottom: 0 !important;
        }
      }
    }
  }
}

@media screen and (max-width: 758px) {
  .sideBar {
    height: 4em;
  }
  .sideNav {
    height: 4em !important;
  }
  .sideNav-Links {
    padding: 0 0 0 1em !important;

    .sideNav-Link {
      height: 4em !important;
      margin: 0 !important;

      i {
        font-size: 1.8em !important;
      }
    }
  }
}