/*
               ______________________________
              |==============================|
              |           COMPONENT          |
              |==============================|
              |$                            $|
              |$        VERTICALE NAV       $|
              |$                            $|
              |==============================|
              |          FILES-INFO          |
              |==============================|
              |    author : Julien Lachaux   |
              |      date : 22-05-2017       |
              |      type : CSS              |
              |==============================|
              |           CONTACT            |
              |==============================|
              |   lachauxWebDev@gmail.com    |
              |______________________________|

                 __________________________
                |                          |
                |         SOMMAIRE         |
                |__________________________| 
                |                          | 
                |   1 - verticale nav      |
                |   2 - flux               |
                |   3 - responsive         |
                |                          |
                |__________________________|
*/

/*
       __________________________
      |                          |
      |      vertical nav        |
      |__________________________| 
*/
.sideBar {
  width: 15em;
  height: 100%;
  right: 0em;
  position: fixed;
  z-index: 1000;
  color: $color-text;
  background: $color-background;

  .separator {
    background: $color-text !important;
    opacity: .20;
    height: 1px;
    width: 60%;
    margin: 10px auto;
  }

  .sideNav {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;

    .sideNav-profile {
      .profilePicture-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 170px;
        margin-bottom: 1em;

        .profilePicture-circle {
          z-index: $lvl-2;
          border-radius: 100%;
          background: $color-primary-light;
          width: 120px;
          height: 120px;
          overflow: hidden;

          
          .profilePicture {
            height: auto;
            width: 120px;
            top: -100px;
          }
        }
        .profilePicture-decoration {
          z-index: $lvl-1;
          position: absolute;
          width: 170px;
          height: 170px;
          top: 1em;
          left: 2.5em;
        }
      }
      .profile-info {
        padding: 10px;
        .profile-name {
          text-align: center;
          color: $color-text;
        }
        .profile-job {
          text-align: center;
          margin-top: 5px;
          font-weight: 400;
          color: $color-primary-light;
        }
      }
    }

    .sideNav-Links {
      position: absolute;
      width: 100%;
      background: $color-background;
      z-index: 1000;
      list-style: none;
      padding: 0;
      margin: 0;

      .sideNav-Link {
        width: 100%;
        height: 4em;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        transition: all 200ms ease-in-out;

        .link-txt {
          width: 90%;
          padding: 0 0 0 10%;
          z-index: 10;
          line-height: 4em;
          position: absolute;
          color: $color-text;
          text-decoration: none;
        }
        
        i.link-logo {
          right: 1.1em;
          top: 0.85em;
          font-size: 1.5em;
          position: absolute;
          color: $color-primary;
          z-index: 9;
          transition: all 200ms ease-in-out;
        }

        &.iconActive {
          background: $color-primary !important;
          .link-txt {
            color: $color-text-over !important;
          }
          i.link-logo {
            transform: scale(2.5) !important;
            color: #fff !important;
          }
          &:hover {
            i.link-logo {
              color: #fff !important;
            }
          }
        }
        
        &:hover {
          i.link-logo {
            color: $color-primary-light !important;
          }
        }
      }
    }

    .social-icons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      margin: 1.5em 0 1.5em 0;
      img{
        border-radius: 50%;
        width: 2em;
        transition: all 500ms ease-in-out;
      }
      
      img:hover {
        transform: rotate(360deg) scale(1.5);
      }
    }

    .sideNav-contact {
      display: block;
      color: $color-primary-light;
      position: absolute;
      bottom: 0;
      width: 90%;
      padding: 1em 5%;

      .com-list {
        list-style: none;
        padding: 0;
        font-family: 'IBM Plex Serif', serif;
      }
      
      .com-list li {
        color: white;
        border-radius: 0.5em;
        line-height: 2em;
        margin: 0.5em 0;
        font-size: 0.75em;
        text-align: left;
        cursor: pointer;
        &:hover {background: $color-primary-light;}
        &:hover a {color: $color-secondary;}
        &:hover i {background: $color-secondary;}
        a {
          display: block;
          text-decoration: none;
          color: $color-secondary;
          padding: 0.5em 0.25em;
          line-height: 2em;
        }
        i {
          text-align: center;
          color: $color-primary-light;
          margin: 0 0.5em 0 0;
          transform: translateY(0.30em) translateX(0.2em);
        }
      }
      
      
      .contact-title {
        text-align: center;
      }
      
      .copyright {
        display: block;
        width: 100%;
        font-family: 'IBM Plex Serif', serif;
        font-size: 0.7em;
        margin: 0;
        text-align: center;
      }
      
      .copyright a {
        color: inherit;
      }
      
      .copyright a:hover {
        color: $color-secondary;
      }
    }
  }
}


/*
       __________________________
      |                          |
      |        LE FLUX           |
      |__________________________| 
*/
/* webFlux anim */

.webContentTitle {
  display: inline-block;
  color: white;
  font-size: 1.5em;
  margin: 1em auto;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.27);
  padding: 0.5em;
  border-radius: 0.3em;
}

/*
       __________________________
      |                          |
      |         version          |
      |        responsive        |
      |__________________________| 
*/
@media screen and (max-width: 1024px) {
  .sideBar {
    width: 100%;
    height: 4em;
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
  }
  
  .sideNav {
    height: 4em !important;
  }
  
  .sideNav-Links {
    display: flex;
  }
  
  .sideNav-Link {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .sideNav-Link .link-txt{
    width: 100% !important;
    line-height: 2.5em !important;
    padding: 2.5em 0 0 0 !important;
    font-size: 0.8em;
    right: auto !important;
    text-align: center;
  }
  
  .sideNav-Link i.link-logo{
    display: block;
    right: auto !important;
    top: 0.5em !important;
    width: 100%;
    text-align: center;
  }
  
  .sideNav-Link img.link-logo{
    display: block;
    right: auto !important;
    top: 0.5em !important;
    width: 100%;
    text-align: center;
  }

  .sideNav .sideNav-Link.iconActive img.link-logo {
    transform: scale(1.5) rotate(25deg) !important;
    opacity: 0.5;
  }

  .sideNav .sideNav-Link.iconActive i.link-logo {
    transform: scale(4) rotate(25deg) !important;
    opacity: 0.5;
  }
  
  .sideNav .sideNav-Link:hover {
    background: #555d5e;
  }

  .sideNav .sideNav-Link:hover .link-txt {
    color: #b5c8ca;
  }

  .sideNav .sideNav-Link:hover img.link-logo {
    transform: none;
    opacity: 1;
  }

  .sideNav .sideNav-Link:hover i.link-logo {
    transform: none;
    opacity: 1;
  }
  
  .mainNav .sideNav-contact {
    display: block !important;
    position: absolute;
    bottom: 1em;
    left: 10%;
    width: 80%;
    padding: 0;
  }
  
  .sideNav-contact .separator {
    margin: 0.25em auto;
  }
  
  .sideNav-contact .contact-title {
    font-size: 0.8em;
  }

  .sideNav-contact .com-list li {
    min-width: 275px;
    width: 50%;
    color: white;
    border-radius: 0.5em;
    line-height: 1.5em;
    margin: 0.25em auto;
    font-size: 0.7em;
    padding: 0 0 0 4em;
    text-align: left;
  }
  
  .sideNav-contact .social-icons {
    margin: 0;
  }

  .sideNav-contact .com-list i {
    display: inline-block;
    position: absolute;
    text-align: left;
    transform: translateX(-1.5em);
    color: #fff;
  }
}