.widget {
position: relative;

    &.presentation {
        padding: 1em;

        .widget-body {
            font-size: 1em;
            text-align: left;
            font-weight: 300;
            line-height: 2em;
            font-family: $fontContent;
        }
    }
}

//
// ───────────────────────────────────────────────────────────────────── Responsive ─────
//
@media screen and (max-width: 1250px) {
    .widget {
        
            &.presentation {
        
                .widget-body {
                    font-size: .8em;
                }
            }
        }
}