<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="mainFlux">
            {% block navs %}{% endblock %}

            <section class="webFlux">
                <div class="webContent">
                    {% block body %}{% endblock %}
                </div>
            </section>
        </div>
        <div class="coverFlux"></div>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('build/js/init.js') }}"></script>
    </body>
</html>
