// Keyframes
@keyframes cardsLoad-top {
    from {
      opacity: 0;
      transform: translateY(-75vh);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
@keyframes cardsLoad-bottom {
from {
    opacity: 0;
    transform: translateY(75vh);
}
to {
    transform: translateY(0);
    opacity: 1;
}
}
@keyframes cardsLoad-left {
from {
    opacity: 0;
    transform: translateX(-100vw);
}
to {
    transform: translateX(0);
    opacity: 1;
}
}
@keyframes cardsLoad-right {
from {
    opacity: 0;
    transform: translateX(100vw);
}
to {
    transform: translateX(0);
    opacity: 1;
}
}

// class
.active .onLoadElement {
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    &.top {
        transform: translateY(-75vh);
        animation-name: cardsLoad-top;
        animation-delay: 2.45s;
    }
    &.bottom {
        transform: translateY(75vh);
        animation-name: cardsLoad-bottom;
        animation-delay: 2.75s;
    }
    &.left {
        transform: translateX(-100vw);
        animation-name: cardsLoad-left;
        animation-delay: 2.20s;
    }
    &.right {
        transform: translateX(100vw);
        animation-name: cardsLoad-right;
        animation-delay: 2.20s;
    }
}