
@keyframes linkTextAppear {
    0% {
        width: 0px;
        left: -200%;
        opacity: 0;
    }
    50% {
        left: 0;
    }
    100% {
        width: 9.5em;
        padding: 0 2em 0 .75em;
        text-align: left;
        line-height: 2.5em;
        left: 0em;
        border-bottom: .2em solid $color-primary-dark;
    }
}
@keyframes linkTextToggle {
    0% {
        width: 9.5em;
        padding: 0 2em 0 .75em;
        text-align: left;
        line-height: 2.5em;
        left: 0em;
        border-bottom: .2em solid $color-primary-dark;
    }
    40% {
        width: 0px;
        left: -100%;
        opacity: 0;
    }
    60% {
        width: 0px;
        opacity: 0;
    }
    100% {
        width: 11em;
        padding: 0 0 .15em 2.5em;
        bottom: -.15em;
        text-align: left;
        line-height: 2.5em;
        left: 2em;
    }
}


@keyframes navDecorationAppear {
    0% {
        right: 150%;
    }
    100% {
        right: .2em;
    }
}
@keyframes navDecorationToggle {
    0% {
        right: .2em;
    }
    100% {
        right: 200%;
        opacity: 0;
    }
}
@keyframes navDecorationAppearMobile {
    0% {
        bottom: -7em;
        right: 1em;
    }
    100% {
        bottom: 0em;
        right: 1em;
    }
}
@keyframes navDecorationToggleMobile {
    0% {
        bottom: 0em;
        right: 1em;
    }
    100% {
        bottom: -7em;
        opacity: 0;
        right: 1em;
    }
}


@keyframes linkLogoAppear {
    0% {
        right: 150%;
    }
    100% {
        right: .85em;
    }
}
@keyframes linkLogoToggle {
    0% {
        right: .85em;
    }
    25% {
        right: -100%;
        opacity: 0;
    }
    50% {
        right: auto !important;
        left: 150%;
        opacity: 0;
    }
    100% {
        top: .55em;
        left: .75em;
        opacity: 1;
    }
}
@keyframes linkLogoAppearMobile {
    0% {
        bottom: -7em;
        right: 1.4em;
    }
    100% {
        bottom: 3em;
        right: 1.4em;
    }
}
@keyframes linkLogoToggleMobile {
    0% {
        bottom: 3em;
        right: 1.4em;
    }
    25% {
        bottom: -7em;
        opacity: 0;
        right: 1.4em;
    }
    50% {
        bottom: 3.8em;
        opacity: 0;
        right: 1.3em;
    }
    100% {
        bottom: 3.8em;
        opacity: 1;
        right: 1.3em;
    }
}

@media screen and (min-width: 1251px) {
    
    .nav-decoration {
        animation: navDecorationAppear 3.5s forwards;
    }
        // nav link logo
    i.link-logo {
        animation: linkLogoAppear 3.5s forwards;
    }
    .sideNav-Link {
        // nav link text
        .link-txt {
            animation: linkTextAppear 4s forwards;
        }
        
        &.iconActive {
            .link-txt {
                animation: linkTextToggle 2s forwards;
              }
        
              .link-logo {
                transform: scale(1.2);
                animation: linkLogoToggle 2s forwards;
              }
              .nav-decoration {
                animation: navDecorationToggle 2s forwards;
              }
        }
    }
}

@media screen and (max-width: 1250px) {
    .nav-decoration {
        animation: navDecorationAppearMobile 4s forwards !important;
    }
    i.link-logo {
        animation: linkLogoAppearMobile 4s forwards !important;
    }

    .sideNav-Link  {
        &.iconActive {
            .link-logo {
                animation: linkLogoToggleMobile 2s forwards !important;
            }
            .nav-decoration {
                animation: navDecorationToggleMobile 2s forwards !important;
            }
        }
    }
}