<nav class="mainBar">
        <div class="user-descr">
          <div class="user-logo">
            <img alt="ma photo" src="/public/assets/img/global/man.png">
          </div>
          <h1 class="user-name">Julien Lachaux</h1>
          <h2 class="user-work">Développeur web full-stack</h2>
        </div>
        <div class="mainNav">
          <ul class="mainNav-links">
            <li class="mainNav-link mainNavOut desktop-hidden">
              <i class="material-icons desktop-hidden">menu</i>
            </li>
            <li class="mainNav-link"><a href="../#bienvenue">Accueil</a></li>
            <li class="mainNav-link"><a href="../public/index.php?p=cv#profile">CV</a></li>
            <li class="mainNav-link"><a href="../public/index.php?p=projets#infographie">Réalisations</a></li>

            <div class="sideNav-contact desktop-hidden">
              <div class="separator"></div>
              <div class="contact-title">Me contacter</div>
              <div class="separator"></div>
              <ul class="com-list">
                <li><a href="../public/index.php?p=contact"><i class="material-icons">contacts</i>Formulaire de contact (24/7)</a></li>
                <li><a href="javascript:copy('lachauxWebDev@gmail.com')"><i class="material-icons">contact_mail</i>lachauxWebDev@gmail.com</a></li>
                <li><a href="javascript:copy('06.66.81.40.59')"><i class="material-icons">contact_phone</i>06.66.81.40.59</a></li>
              </ul>
              <div class="separator"></div>
              <div class="social-icons">
                <a href="https://www.linkedin.com/in/julien-lachaux-386484b8/" target="_blank" class="social-icon" id="linkedin"><img alt="logo de linkedin" src="assets/img/cv/contact/linkedin.png"></a>
            <a href="https://www.hopwork.ch/profile/julienlachaux" target="_blank" class="social-icon" id="hopwork"><img alt="logo de hopwork" src="assets/img/cv/contact/hopwork.png"></a>
            <a href="https://cremedelacreme.io/julien.lachaux" target="_blank" class="social-icon" id="creme"><img alt="logo de creme de la creme" src="assets/img/cv/contact/logo_cremedelacreme.png"></a>
            <a href="https://github.com/julien-Lachaux" target="_blank" class="social-icon" id="git-hub"><img alt="logo de git-hub" src="assets/img/cv/contact/github.png"></a>
              </div>
              <div class="separator"></div>
              <div class="copyright">CV développeur web full stack © 2017<br>Julien Lachaux - <a href="../public/index.php?p=legales">mentions légales</a></div>
            </div>
          </ul>
        </div>
        <li class="mainNavIn desktop-hidden">
          <i class="material-icons desktop-hidden">menu</i>
        </li>
    </nav>