<div class="panelTitle">
    <div class="title">{{ panel.title|raw }}</div>
    <div class="subtitle {{ panel.colorTheme.name }}-text">{{ panel.subtitle }}</div>
    <div class="separator"></div>
</div>