<div class="barTop-decoration {{ panel.colorTheme.name }}-background"></div>
<div class="barRight-decoration {{ panel.colorTheme.name }}-background"></div>

<div class="headerPage-decoration">
    {{ panel.headerPage|raw }}
</div>
<div class="decorationPage-decoration">
    <img src="images/decorations/decorationPage/decorationPage-{{ panel.colorTheme.name }}.svg" alt="panel page decoration">
</div>